<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets">
    <name>Tai.st</name>
    <author href="http://tai.st/">tai.st</author>
    <description xml:lang="en">Tai.st platform</description>
    <description xml:lang="ru">Платформа tai.st</description>
    <icon src="icons/icon.32x32.png"/>
    <access origin="https://tai.st" subdomains="true"/>
  	<content src="central/background.html" encoding="utf-8" type="text/html"/>
</widget>
