body,
.mention_link,
.mention_text,
.mention_date,
.mention_author_text,
.mention_source_link a,
.mention_bottompannel_text {
    font-family: Tahoma, Arial, sans-serif;
}

.mention_item {
    overflow: hidden;
}

.mention_simple_tags_title {
    float: left;
    padding: 4px 12px 0 0;
    color: #000;
    font: 12px/18px Tahoma, Arial, sans-serif;
}

.mention_simple_tags {
    margin: -129px 32px 53px 19px;
    overflow: hidden;
    clear: both;
}

.mention_simple_tags_list {
    overflow: hidden;
    padding: 4px 2px 2px 2px;
}

.mention_simple_tags_item {
    display: inline-block;
    font-family: Tahoma, sans-serif;
    position: relative;
    margin: 0 15px 8px 0;
    color: gray;
    border-bottom: 1px dashed gray;
    cursor: pointer;
    -webkit-transition: background-color ease 1.5s;
       -moz-transition: background-color ease 1.5s;
         -o-transition: background-color ease 1.5s;
            transition: background-color ease 1.5s;
}

.mention_simple_tags_item.tag_selected {
    margin: -3px 12px 5px -3px;
    padding: 3px;
    border-bottom: 0;
    font-weight: bold;
    color: #676767;
}

.mention_simple_tags_item.tag_highlighted {
    background-color: #FFF379;
}

/*

.mention_simple_tags_remove {
    display: none;
    position: absolute;
    top: -1px;
    right: -12px;
    width: 9px;
    height: 9px;
    background-image: url('http://www.youscan.ru/Content/Images/Tags/tag_remove.png');
    cursor: pointer;
    margin-top: 4px;
}

.mention_simple_tags_remove:hover {
    background-image: url('http://www.youscan.ru/Content/Images/Tags/tag_remove_red.png');
}

.mention_simple_tags_item.tag_selected {
    margin-left: 27px;
}

.mention_simple_tags_item.tag_selected .mention_simple_tags_remove {
    display: block;
}

*/

.mention_simple_tags_add {
    overflow: hidden;
    float: left;
    padding: 2px 0 2px 40px;
}

.mention_simple_tags_input {
    width: 150px;
    font: 12px/18px Tahoma, Arial, sans-serif !important;
    height: 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.mention_simple_tags_button {
    margin-left: 7px;
    font: 12px/18px Tahoma, sans-serif;
    color: #fff;
    height: 20px;
    padding: 1px 11px;
    border: 0;
    cursor: pointer;
    background-color: #A0A0A0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#A0A0A0), to(#656664));
    background-image: -webkit-linear-gradient(top, #A0A0A0, #656664);
    background-image:    -moz-linear-gradient(top, #A0A0A0, #656664);
    background-image:      -o-linear-gradient(top, #A0A0A0, #656664);
    background-image:         linear-gradient(to bottom, #A0A0A0, #656664);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.mention_simple_tags_button:hover {
    background-color: #8C8C8C;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8C8C8C), to(#323332));
    background-image: -webkit-linear-gradient(top, #8C8C8C, #323332);
    background-image:    -moz-linear-gradient(top, #8C8C8C, #323332);
    background-image:      -o-linear-gradient(top, #8C8C8C, #323332);
    background-image:         linear-gradient(to bottom, #8C8C8C, #323332);

}

.mention_middle_block {
    padding-bottom: 86px;
}
