html, body, h1, h2, h3, form, input, button, ul, li, img {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    background: none;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proximanova-reg-webfont.eot');
	src: local('☺'), url('../fonts/proximanova-reg-webfont.woff') format('woff'),
                     url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),
                     url('../fonts/proximanova-reg-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: local('☺'), url('../fonts/proximanova-bold-webfont.woff') format('woff'),
                     url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
                     url('../fonts/proximanova-bold-webfont.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

.m-nw {
    white-space: nowrap;
}

.page {
    background: #B9C2C9 url('../img/bg.png');
    font: 20px/24px ProximaNova, Arial, sans-serif;
    color: #3c4044;
}

.header {
    overflow: hidden;
    padding: 70px 0;
    width: 1000px;
    margin: 0 auto;
}

.header__column-left {
    float: left;
    width: 430px;
    line-height: 26px;
}

.header__logo-img {
    width: 160px;
    height: 43px;
}

.header__logo-sup {
    font-size: 14px;
    line-height: 18px;
    vertical-align: top;
    position: relative;
    top: -14px;
    left: 4px;
    opacity: .8;
}

.header__link {
    color: #1771ab;
    text-decoration: none;
    border-bottom: 1px solid rgba(23,113,171,.3);
    line-height: 20px;
    display: inline-block;
}

.header__link:hover {
    border-bottom-color: #1771ab;
}

.header__title {
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0 10px 0;
}

.header__text {
    padding-bottom: 20px;
}

.header__highlighted {
    background: #fef7c9;
    padding: 24px 20px 24px 40px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 3px 3px rgba(39,130,191,.2);
       -moz-box-shadow: 0 3px 3px rgba(39,130,191,.2);
            box-shadow: 0 3px 3px rgba(39,130,191,.2);
}

.header__column-right {
    float: right;
    width: 500px;
}

.header__join {
    background: #fff url('../img/join-form-corner.png') no-repeat 100% 0;
    height: 460px;
    -webkit-box-shadow: 0 3px 3px rgba(39,130,191,.2);
       -moz-box-shadow: 0 3px 3px rgba(39,130,191,.2);
            box-shadow: 0 3px 3px rgba(39,130,191,.2);
}

.header__join-title {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 36px;
    padding: 58px 0 20px 50px;
}

.header__join-form {
    padding: 0 50px;
}

.header__join-form-label {
    padding-bottom: 20px;
    display: block;
}

.header__join-form-input {
    font: 20px/24px ProximaNova, Arial, sans-serif;
    width: 100%;
    padding-left: 8px;
    height: 38px;
    margin-bottom: 22px;
    border: 1px solid #7292a7;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: inset 0 3px 3px rgba(156,176,189, .2);
       -moz-box-shadow: inset 0 3px 3px rgba(156,176,189, .2);
            box-shadow: inset 0 3px 3px rgba(156,176,189, .2);
}

.header__join-form-input:focus {
    border-color: #8daec5;
    outline: none;
    -webkit-box-shadow: inset 0 3px 3px rgba(156,176,189, .2),
                        0 0 3px 1px rgba(64,179,255, .7);
       -moz-box-shadow: inset 0 3px 3px rgba(156,176,189, .2),
                        0 0 3px 1px rgba(64,179,255, .7);
            box-shadow: inset 0 3px 3px rgba(156,176,189, .2),
                        0 0 3px 1px rgba(64,179,255, .7);
}

.header__join-form-input::-webkit-input-placeholder {
    color:#a5b3bd;
}

.header__join-form-input:-moz-placeholder {
    color: #a5b3bd;
}

.header__join-form-input.m-error {
    border-color: #ff6a48;
    background: #fff3f0;
    -webkit-box-shadow: inset 0 3px 3px rgba(156,176,189, .2),
                        0 0 3px 1px rgba(255,0,0, .4);
       -moz-box-shadow: inset 0 3px 3px rgba(156,176,189, .2),
                        0 0 3px 1px rgba(255,0,0, .4);
            box-shadow: inset 0 3px 3px rgba(156,176,189, .2),
                        0 0 3px 1px rgba(255,0,0, .4);
}

.header__join-form-submit {
    width: 100%;
    height: 40px;
    cursor: pointer;
    font: bold 20px/40px ProximaNova, Arial, sans-serif;
    text-shadow: 0 1px 1px rgba(11,63,97,.7);
    text-align: center;
    color: #fff;
    border:  1px solid #0e73b7;
    background-color: #2185c8;
    background-image: linear-gradient(bottom, #1B78B6 13%, #2FA4F2 95%);
    background-image: -o-linear-gradient(bottom, #1B78B6 13%, #2FA4F2 95%);
    background-image: -moz-linear-gradient(bottom, #1B78B6 13%, #2FA4F2 95%);
    background-image: -webkit-linear-gradient(bottom, #1B78B6 13%, #2FA4F2 95%);
    background-image: -ms-linear-gradient(bottom, #1B78B6 13%, #2FA4F2 95%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.13, #1B78B6), color-stop(0.95, #2FA4F2));
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3),
                        0 2px 2px rgba(50,85,108,.3);
       -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3),
                        0 2px 2px rgba(50,85,108,.3);
            box-shadow: inset 0 1px 0 rgba(255,255,255,.3),
                        0 2px 2px rgba(50,85,108,.3);
}

.header__join-form-submit:active {
    background: #1B78B6;
    line-height: 42px;
    -webkit-box-shadow: inset 0 3px 4px rgba(0,0,0,.2);
       -moz-box-shadow: inset 0 3px 4px rgba(0,0,0,.2);
            box-shadow: inset 0 3px 4px rgba(0,0,0,.2);
}

.header__social {
    padding: 96px 50px 0 50px;
    background: url('../img/join-form-sciccors.png') no-repeat 0 33px;
    line-height: 30px;
}

.header__link-twitter,
.header__link-facebook,
.header__link-blogger {
    margin-left: 24px;
}

.header__link-twitter:before,
.header__link-facebook:before,
.header__link-blogger:before {
    content: ' ';
    display: block;
    width: 16px;
    height: 16px;
    margin-left: -21px;
    float: left;
    position: relative;
    top: 4px;
}

.header__link-twitter:before {
    background: url('../img/twitter.png') no-repeat 0 0;
}

.header__link-facebook:before {
    background: url('../img/facebook.png') no-repeat 0 0;
}

.header__link-blogger:before {
    background: url('../img/blogger.png') no-repeat 0 0;
}

.capabilities {
    background: rgba(60,64,68,.1);
    border-width: 3px 0;
    border-style: solid;
    border-color: rgba(60,64,68,.1);
    -webkit-box-shadow: 0 -1px 0 rgba(60,64,68,.36),
                        0 1px 0 rgba(255,255,255,.4);
       -moz-box-shadow: 0 -1px 0 rgba(60,64,68,.36),
                        0 1px 0 rgba(255,255,255,.4);
            box-shadow: 0 -1px 0 rgba(60,64,68,.36),
                        0 1px 0 rgba(255,255,255,.4);
}

.capabilities__wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0 40px 0;
}

.capabilities__switchers {
    overflow: hidden;
    width: 108px;
    margin: 0 auto;
}

.capabilities__switcher {
    display: block;
    margin-left: 18px;
    float: left;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url('../img/elements.png') no-repeat -50px 0;
}

.capabilities__switcher:first-child {
    margin-left: 0;
}

.capabilities__switcher.m-active {
    background-position: 0 0;
}

.capabilities__headers-fading-left {
    left: 0;
    background:url('../img/fading-left.png') no-repeat 0 0;
}

.capabilities__headers-fading-right {
    right: 0;
    background:url('../img/fading-right.png') no-repeat 100% 0;
}

.capabilities__headers-fading-left,
.capabilities__headers-fading-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 176px;
    height: 50px;
    z-index: 5;
    cursor: pointer;
}

.capabilities__headers-fading-left.m-invisible,
.capabilities__headers-fading-right.m-invisible {
    display: none;
}

.capabilities__headers {
    height: 50px;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
}

.capabilities__header.m-active {
    font-size: 26px;
    opacity: 1;
    display: inline;
}

.capabilities__header.m-left,
.capabilities__header.m-right {
    color: #83898E;
    position: absolute;
    top: 0;
    white-space: nowrap;
    cursor: pointer;
}

.capabilities__header.m-left.m-hover,
.capabilities__header.m-right.m-hover {
    color: #3C4044;
}

.capabilities__header.m-left {
    right: 800px;
}

.capabilities__header.m-right {
    left: 800px;
}

.capabilities__header.m-invisible {
    display: none !important;
}

.capabilities__slides {
    padding: 54px 0;
    overflow: hidden;
    position: relative;
}

.capabilities__slides-wrapper {
    width: 3000px;
    position: relative;
    left: -2000px;
}

.capabilities__slide-steps {
    position: relative;
    float: left;
    width: 1000px;
}

.capabilities__slide-step {
    float: left;
    margin-left: 33px;
    position: relative;
}

.capabilities__slide-step:first-child {
    margin-left: 0;
}

.capabilities__slide-step-number {
    position: absolute;
    top: -18px;
    left: 50%;
    margin-left: -18px;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background: #fff;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(60,64,68,.36),
                        0 3px 3px rgba(60,64,68,.2);
       -moz-box-shadow: 0 1px 0 rgba(60,64,68,.36),
                        0 3px 3px rgba(60,64,68,.2);
            box-shadow: 0 1px 0 rgba(60,64,68,.36),
                        0 3px 3px rgba(60,64,68,.2);
}

.capabilities__slide-step-action {
    width: 225px;
    height: 120px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    background-image: linear-gradient(bottom, #DFEAF0 0%, #FFFFFF 33%);
    background-image: -o-linear-gradient(bottom, #DFEAF0 0%, #FFFFFF 33%);
    background-image: -moz-linear-gradient(bottom, #DFEAF0 0%, #FFFFFF 33%);
    background-image: -webkit-linear-gradient(bottom, #DFEAF0 0%, #FFFFFF 33%);
    background-image: -ms-linear-gradient(bottom, #DFEAF0 0%, #FFFFFF 33%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #DFEAF0), color-stop(0.33, #FFFFFF));
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 3px 3px rgba(39,130,191,.2);
       -moz-box-shadow: 0 3px 3px rgba(39,130,191,.2);
            box-shadow: 0 3px 3px rgba(39,130,191,.2);
}

.activity {
    width: 1000px;
    margin: 0 auto;
    padding: 65px 0 80px 0;
}

.activity__header {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.activity__columns {
    overflow: hidden;
}

.activity__column-left,
.activity__column-right {
    width: 475px;
    display: table-cell;
    padding: 12px 0 5px 0;
}

.activity__column-space {
    display: table-cell;
    width: 22px;
}

.activity__column-divider {
    display: table-cell;
    width: 5px;
    position: relative;
    top: -5px;
    background: rgba(60,64,68,.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.05);
       -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,.05);
            box-shadow: inset 1px 1px 0 rgba(0,0,0,.05);
}

.activity__message {
    background: #fff;
    position: relative;
    margin-top: 20px;
    padding: 18px;
    font-size: 16px;
    line-height: 20px;
    -webkit-box-shadow: 0 3px 3px rgba(39,130,191,.2);
       -moz-box-shadow: 0 3px 3px rgba(39,130,191,.2);
            box-shadow: 0 3px 3px rgba(39,130,191,.2);
}

.activity__message-corner {
    position: absolute;
    display: block;
    width: 33px;
    height: 20px;
    top: 50%;
    z-index: 2;
    overflow: hidden;
}

.activity__message-corner-inner {
    width: 20px;
    height: 20px;
    position: absolute;
    background: #fff;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: 2px 2px 3px rgba(39,130,191,.25);
       -moz-box-shadow: 2px 2px 3px rgba(39,130,191,.25);
            box-shadow: 2px 2px 3px rgba(39,130,191,.25);
}

.activity__message-corner-dot {
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 2px;
    background: url('../img/elements.png') no-repeat -100px 0;
}

.activity__column-left .activity__message-corner {
    right: -33px;
}

.activity__column-left .activity__message-corner-inner {
    left: -15px;
}

.activity__column-left .activity__message-corner-dot {
    right: 0;
}

.activity__column-right .activity__message-corner {
    left: -33px;
}

.activity__column-right .activity__message-corner-inner {
    right: -15px;
}

.activity__column-right .activity__message-corner-dot {
    left: 0;
}

.activity__message-date {
    color: #B4B4B4;
    margin-bottom: 12px;
}

.activity__message-header {
    font-size: 18px;
    margin-bottom: 8px;
}

.activity__message-link {
    color: #1771AB;
    text-decoration: none;
    border-bottom: 1px solid rgba(23, 113, 171, .3);
    display: inline-block;
}

.activity__message-link:hover {
    border-bottom-color: #1771AB;
}

.activity__message-arrow {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #1771AB;
}

.footer {
    background: rgba(60, 64, 68, .2);
    border-top: 3px solid rgba(60, 64, 68, .1);
    -webkit-box-shadow: 0 -1px 0 rgba(60,64,68,.4);
       -moz-box-shadow: 0 -1px 0 rgba(60,64,68,.4);
            box-shadow: 0 -1px 0 rgba(60,64,68,.4);
}

.footer__wrapper {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
    line-height: 18px;
    color: #26282b;
    height: 150px;
}

.footer__link {
    color: #0c456a;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid rgba(12, 69, 106, .6);
    cursor: pointer;
}

.footer__link:hover {
    border-bottom-color: #0c456a;
}

.footer__link.m-dotted {
    border-bottom-style: dotted;
}

.footer__copyright {
    position: absolute;
    left: 0;
    top: 40px;
}

.footer__email {
    position: absolute;
    left: 0;
    top: 80px;
}

.footer__nav {
    position: absolute;
    top: 40px;
    left: 270px;
}

.footer__nav-item {
    float: left;
    margin-right: 40px;
}

.footer__social {
    position: absolute;
    top: 80px;
    left: 270px;
    white-space: nowrap;
}

.footer__link-twitter,
.footer__link-facebook {
    margin-left: 24px;
}

.footer__link-twitter:before,
.footer__link-facebook:before {
    content: ' ';
    display: block;
    width: 16px;
    height: 16px;
    margin-left: -21px;
    float: left;
    position: relative;
    top: 4px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.footer__link-twitter:before {
    background: url('../img/twitter.png') no-repeat 0 0;
    -webkit-box-shadow: inset 0 0 1px 1px #1B7899,
                        0 1px 0 rgba(255,255,255,.4);
       -moz-box-shadow: inset 0 0 1px 1px #1B7899,
                        0 1px 0 rgba(255,255,255,.4);
            box-shadow: inset 0 0 1px 1px #1B7899,
                        0 1px 0 rgba(255,255,255,.4);
}

.footer__link-facebook:before {
    background: url('../img/facebook.png') no-repeat 0 0;
    -webkit-box-shadow: inset 0 0 1px 1px #3A4C72,
                        0 1px 0 rgba(255,255,255,.4);
       -moz-box-shadow: inset 0 0 1px 1px #3A4C72,
                        0 1px 0 rgba(255,255,255,.4);
            box-shadow: inset 0 0 1px 1px #3A4C72,
                        0 1px 0 rgba(255,255,255,.4);
}

.footer__subscribe {
    width: 320px;
    position: absolute;
    top: 40px;
    right: 0;
}

.footer__subscribe-label {
    height: 30px;
    display: block;
}

.footer__subscribe-input {
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    border: 1px solid #687E8C;
    font: 16px/20px ProximaNova, Arial, sans-serif;
    border-top-color: #637079;
    background: #fff;
    padding-left: 6px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
    -webkit-box-shadow: inset 0 2px 1px rgba(49,84,106,.23),
                        0 1px 0 rgba(255,255,255,.5);
       -moz-box-shadow: inset 0 2px 1px rgba(49,84,106,.23),
                        0 1px 0 rgba(255,255,255,.5);
            box-shadow: inset 0 2px 1px rgba(49,84,106,.23),
                        0 1px 0 rgba(255,255,255,.5);
}

.footer__subscribe-input:focus {
    border-color: #3c5365;
    background: #d8e0e6;
    outline: none;
}

.footer__subscribe-input::-webkit-input-placeholder {
    color:#a5b3bd;
}

.footer__subscribe-input:-moz-placeholder {
    color: #a5b3bd;
}

.footer__subscribe-input.m-error {
    border-color: #ff6a48;
    background: #fff3f0;
    -webkit-box-shadow: inset 0 2px 1px rgba(49,84,106,.23),
                        0 0 3px 1px rgba(255,0,0, .5);
       -moz-box-shadow: inset 0 2px 1px rgba(49,84,106,.23),
                        0 0 3px 1px rgba(255,0,0, .5);
            box-shadow: inset 0 2px 1px rgba(49,84,106,.23),
                        0 0 3px 1px rgba(255,0,0, .5);
}

.footer__subscribe-button {
    width: 125px;
    height: 32px;
    position: absolute;
    top: 30px;
    right: 0;
    font: 16px/32px ProximaNova, Arial, sans-serif;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(0,0,0,.7);
    border: 1px solid #3F4B57;
    background-color: #5D6F7D;
    background-color: #687F90;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#687F90), to(#51626F));
    background-image: -webkit-linear-gradient(top, #687F90, #51626F);
    background-image: -moz-linear-gradient(top, #687F90, #51626F);
    background-image: -ms-linear-gradient(top, #687F90, #51626F);
    background-image: -o-linear-gradient(top, #687F90, #51626F);
    background-image:  linear-gradient(to bottom, #687F90, #51626F);
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
       -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
            box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
}

.footer__subscribe-button:active {
    background: #51626F;
    line-height: 34px;
    -webkit-box-shadow: inset 0 3px 2px rgba(0,0,0,.15);
       -moz-box-shadow: inset 0 3px 2px rgba(0,0,0,.15);
            box-shadow: inset 0 3px 2px rgba(0,0,0,.15);
}

.team {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: rgba(60,64,68,.9);
}

.team__popup {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 10px;
    margin: -300px 0 0 -500px;
    height: 600px;
    background: #fff;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
       -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
            box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

.team__popup-header {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    margin-top: 25px;
}

.team__popup-header-line {
    border-bottom: 1px solid #CECECE;
    height: 20px;
    position: absolute;
    width: 100%;
    left: 0;
}

.team__popup-header-text {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 0 13px;
}

.team__popup-columns {
    overflow: hidden;
    padding-top: 50px;
}

.team__popup-column {
    float: left;
    width: 350px;
    padding-left: 100px;
}

.team__popup-column:first-child {
    padding-left: 125px;
}

.team__popup-photo {
    width: 160px;
    height: 160px;
    margin-bottom: 36px;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
}

.team__popup-photo.m-anton {
    background: url('../img/anton.jpg');
}

.team__popup-photo.m-egor {
    background: url('../img/egor.jpg');
}

.team__popup-name {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.team__popup-site {
    padding-top: 10px;
}

.team__popup-link {
    color: #1771ab;
    text-decoration: none;
    border-bottom: 1px solid rgba(23,113,171,.3);
    line-height: 20px;
    display: inline-block;
    cursor: pointer;
}

.team__popup-link:hover {
    border-bottom-color: #1771ab;
}

.team__popup-close {
    position: absolute;
    width: 200px;
    bottom: 20px;
    left: 50%;
    margin-left: -50px;
}
