<!DOCTYPE html>
<html manifest="cache.manifest">
<head>

    <meta charset="utf-8">

    <title>Taisties</title>

	<link rel="stylesheet" href="css/application.css" type="text/css" charset="utf-8">

	<script src="../lib/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../lib/jquery.tmpl.js" type="text/javascript" charset="utf-8"></script>

	<script src="../lib/spine/lib/spine.js" type="text/javascript" charset="utf-8"></script>
	<script src="../lib/spine/lib/local.js" type="text/javascript" charset="utf-8"></script>

	<script src="../lib/proton/core/Assert.js"></script>
    <script src="../lib/proton/core/IocContainer.js"></script>

	<script src="../core/Taistie.js"></script>
	<script src="../core/UserscriptsDownloader.js"></script>

	<script src="TaistieView.js" type="text/javascript" charset="utf-8"></script>
	<script src="TaistieList.js" type="text/javascript" charset="utf-8"></script>
	<script src="StartPopup.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/x-jquery-tmpl" id="taisty">
        <li class="taisties__list-item {{if active}}m-installed{{/if}}">
            <label class="taisties__switch-checkbox-label">
                <div class="taisties__switch">
                    <input class="taisties__switch-checkbox" type="checkbox" {{if active}}checked{{/if}}>
                </div>
                <div class="taisties__name">${name}</div>
            </label>
            <div class="taisties__description">
                ${description}
								<a class="taisties__description-link" href="${externalLink}" target="_blank" tabindex="-1">Подробнее на userscripts.org</a>
            </div>
            <div class="taisties__settings">
                <div class="taisties__edit">изменить</div>
                <div class="taisties__remove">удалить</div>
            </div>
            <div class="taisties__downloads" title="${usageCount} загрузок">${usageCount}</div>
						<div class="taisties__editing">
								<div class="taisties__editing-header">Новое улучшение</div>
								<div class="taisties__editing-row">
										<input type="text" class="taisties__new-name taisties__input nameInput" value="${name}" placeholder="Название">
								</div>
								<div class="taisties__editing-row">
										<input type="text" class="taisties__new-url taisties__input rootUrlInput" value="${rootUrl}" placeholder="URL, соответствующий регулярному выражению">
								</div>
								<div class="taisties__editing-row">
										<textarea class="taisties__new-css taisties__textarea cssInput" placeholder="CSS-код">${css}</textarea>
								</div>
								<div class="taisties__editing-row">
										<textarea class="taisties__new-js taisties__textarea jsInput" placeholder="JavaScript-код">${js}</textarea>
								</div>
								<div class="taisties__editing-button">
										<button class="taisties__new-save taisties__button">Сохранить</button>
										<span class="taisties__new-cancel taisties__link">Отмена</span>
								</div>
						</div>
        </li>
	</script>

</head>
<body class="popup">
    <div class="taisties">
        <div class="taisties__developer">
            <div class="taisties__create"><span class="taisties__create-icon">+</span>создать улучшение</div>
            <div class="taisties__show-created taisties__link">посмотреть уже созданные</div>
        </div>
        <ul class="taisties__list taisties__list-own"></ul>
        <ul class="taisties__list taisties__list-recommended"></ul>
    </div>
</body>
</html>
